In [12]:
# manipulation des données
import numpy as np
import pandas as pd

# matplotlib et seaborn pour les représentations graphiques
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno

# sklearn preprocessing pour le traiter les variables catégorielles
from sklearn.preprocessing import LabelEncoder

# Gestion du système de fichiers
import os

# Suppression des alertes
import warnings
warnings.filterwarnings('ignore')

In [13]:
df = pd.read_csv("../Data/2.cleaned_dataset.csv")
df

,target,id,date,flag,user,text,words
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,awww thats bummer you shoulda got david carr ...,awww thats bummer shoulda get david carr third...
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he cant update his facebook by t...,upset cant update facebook texting might cry r...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,dived many times for the ball managed to save...,dive many time ball manage save rest go bound
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire,whole body feel itchy like fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,no its not behaving at all im mad why am here ...,behaving im mad cant see
...,...,...,...,...,...,...,...
1599995,4,2193601966,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,AmandaMarie1028,just woke up having no school is the best feel...,woke school best feel ever
1599996,4,2193601969,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,TheWDBoards,thewdbcom very cool to hear old walt interviews,thewdbcom cool hear old walt interview
1599997,4,2193601991,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,bpbabe,are you ready for your mojo makeover ask me fo...,ready mojo makeover ask detail
1599998,4,2193602064,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,tinydiamondz,happy th birthday to my boo of alll time tupac...,happy th birthday boo alll time tupac amaru sh...
1599999,4,2193602129,Tue Jun 16 08:40:50 PDT 2009,NO_QUERY,RyanTrevMorris,happy charitytuesday,happy charitytuesday

In [14]:
df[df['target']== 0]

,target,id,date,flag,user,text,words
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,awww thats bummer you shoulda got david carr ...,awww thats bummer shoulda get david carr third...
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he cant update his facebook by t...,upset cant update facebook texting might cry r...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,dived many times for the ball managed to save...,dive many time ball manage save rest go bound
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire,whole body feel itchy like fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,no its not behaving at all im mad why am here ...,behaving im mad cant see
...,...,...,...,...,...,...,...
799995,0,2329205009,Thu Jun 25 10:28:28 PDT 2009,NO_QUERY,dandykim,sick spending my day laying in bed listening to,sick spending day lay bed listen
799996,0,2329205038,Thu Jun 25 10:28:28 PDT 2009,NO_QUERY,bigenya,gmail is down,gmail
799997,0,2329205473,Thu Jun 25 10:28:30 PDT 2009,NO_QUERY,LeeLHoke,rest in peace farrah so sad,rest peace farrah sad
799998,0,2329205574,Thu Jun 25 10:28:30 PDT 2009,NO_QUERY,davidlmulder,sounds like rival is flagging your ads not muc...,sound like rival flag ad much though
799999,0,2329205794,Thu Jun 25 10:28:31 PDT 2009,NO_QUERY,tpchandler,has to resit exams over summer wishes he worke...,resit exam summer wish work harder first year uni

In [15]:
df[df['target']== 4]

,target,id,date,flag,user,text,words
800000,4,1467822272,Mon Apr 06 22:22:45 PDT 2009,NO_QUERY,ersle,love guys the best,love guy best
800001,4,1467822273,Mon Apr 06 22:22:45 PDT 2009,NO_QUERY,becca210,im meeting up with one of my besties tonight c...,im meeting one besties tonight cant wait girl ...
800002,4,1467822283,Mon Apr 06 22:22:46 PDT 2009,NO_QUERY,Wingman29,thanks for the twitter add sunisa got to meet ...,thanks twitter add sunisa get meet hin show dc...
800003,4,1467822287,Mon Apr 06 22:22:46 PDT 2009,NO_QUERY,katarinka,being sick can be really cheap when it hurts t...,sick really cheap hurt much eat real food plus...
800004,4,1467822293,Mon Apr 06 22:22:46 PDT 2009,NO_QUERY,_EmilyYoung,he has that effect on everyone,effect everyone
...,...,...,...,...,...,...,...
1599995,4,2193601966,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,AmandaMarie1028,just woke up having no school is the best feel...,woke school best feel ever
1599996,4,2193601969,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,TheWDBoards,thewdbcom very cool to hear old walt interviews,thewdbcom cool hear old walt interview
1599997,4,2193601991,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,bpbabe,are you ready for your mojo makeover ask me fo...,ready mojo makeover ask detail
1599998,4,2193602064,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,tinydiamondz,happy th birthday to my boo of alll time tupac...,happy th birthday boo alll time tupac amaru sh...
1599999,4,2193602129,Tue Jun 16 08:40:50 PDT 2009,NO_QUERY,RyanTrevMorris,happy charitytuesday,happy charitytuesday

In [16]:
df_neg = df[df['target']== 0].sample(50000)
df_pos = df[df['target']== 4].sample(50000)
df_pos['target'] = 1
liste_concat = [df_neg, df_pos]
df_sample = pd.concat([df_neg, df_pos], ignore_index=True)
df_sample = df_sample.sample(frac=1).reset_index(drop=True)
df_sample

,target,id,date,flag,user,text,words
0,0,2199811894,Tue Jun 16 18:02:13 PDT 2009,NO_QUERY,Bella94,have anything to tell miss my back midfielder ...,anything tell miss back midfielder guysbut thats
1,0,2070608955,Sun Jun 07 18:00:01 PDT 2009,NO_QUERY,AdamRamsay,its looking like it will,look like
2,1,2072052858,Sun Jun 07 20:19:12 PDT 2009,NO_QUERY,Rachepwns,ps when gonna pick up crest endorcement perfec...,p gon na pick crest endorcement perfect smile
3,0,2301050364,Tue Jun 23 14:56:07 PDT 2009,NO_QUERY,satori,no pell grant for me need to talk to finaid at...,pell grant need talk finaid school see option ...
4,1,1964060922,Fri May 29 13:39:52 PDT 2009,NO_QUERY,BianaBabinsky,thank you pat,thank pat
...,...,...,...,...,...,...,...
99995,1,1979381791,Sun May 31 02:48:15 PDT 2009,NO_QUERY,jadekirk,thats gorgeous pic,thats gorgeous pic
99996,1,2002103466,Tue Jun 02 03:09:14 PDT 2009,NO_QUERY,whatsvickydoing,okay well im gonna turn up to your doorstep wi...,okay well im gon na turn doorstep cash afternoon
99997,0,2008511597,Tue Jun 02 14:14:22 PDT 2009,NO_QUERY,Ryanduff,so wana get bk into djing properly but cant atm,wana get bk dj properly cant atm
99998,0,1970679476,Sat May 30 04:49:09 PDT 2009,NO_QUERY,malifal,gotta go get my mail from the post office in t...,get ta go get mail post office day age still d...
99999,1,1686318172,Sun May 03 04:53:04 PDT 2009,NO_QUERY,dingman,and good morning to you and are about to hit t...,good morning hit trail onward nashville roadtwip

In [17]:
sample_df = '../Data/2.sample_dataset2.csv'
df_sample.to_csv(sample_df, index=False)